$width: 150px;
$height: 83px;
$size: calc($width - $height);
$border: 8px;

.label {
    position: relative;
    display: inline-block;
    width: $width;
    height: $height;

    & input {
        opacity: 0;
        width: 0;
        height: 0;

        &:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
        &:checked + .slider {
            background-color: #2196F3;
        }
        &:checked + .slider::before {
            transform: translateX($size);
        }
    }

    & .slider {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        border-radius: $height;
        background-color: #ccc;

        transition: .4s;

        &::before {
            content: "";
            position: absolute;
            height: $size;
            width: $size;
            left: $border;
            bottom: $border;

            border-radius: 50%;
            background-color: white;

            transition: .4s;
        }
    }
}